 body {
      background-color: #00000;
      background-image: url("https://i.redd.it/dr1hv3peccv91.jpg");
      background-size: cover;
      background-position: center;
      background-attachment: fixed;

      font-family: 'Source Sans 3', sans-serif;
      margin: 0;
      padding: 40px;
      color: #1f2d3d;
    }

    .embed-layout {
      display: flex;
      gap: 30px;
      align-items: flex-start;
    }
    
    .embed-left iframe {
      border-radius: 12px;
      border: none;
    }
    
    .embed-right {
      flex: 1;
    }
    
    .container {
      max-width: 900px;
      margin: auto;
      background: rgba(255,255,255,0.7);
      padding: 30px;
      border-radius: 12px;
    }

    .hero {
      display: flex;
      gap: 30px;
      align-items: center;
    }

    .hero img {
      width: 110px;
      border-radius: 12px;
    }

    .hero-text {
      flex: 1;
    }

    a {
      color: #1a4fa3;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
